{% block swag_bundle_detail %}
    <sw-page class="swag-bundle-detail">
        <template #smart-bar-actions>
            <sw-button :routerLink="{ name: 'swag.bundle.index' }">
                {{ $tc('swag-bundle.detail.cancelButtonText') }}
            </sw-button>
            <sw-button-process
            :isLoading="isLoading"
            :processSuccess="processSuccess"
            variant="primary"
            @process-finish="saveFinish"
            @click="onClickSave"
            >
                {{ $tc('swag-bundle.detail.saveButtonText') }}
            </sw-button-process>
        </template>
        <template #content>
            <sw-card-view>
                <sw-card v-if="bundle" :isLoading="isLoading">
                    <sw-text-field v-model="bundle.name" :is-loading="isLoading" :label="$tc('swag-bundle.detail.nameLabel')"></sw-text-field>
                    <sw-number-field v-model="bundle.discount" :label="$tc('swag-bundle.detail.discountLabel')"></sw-number-field>

                    <sw-radio-field
                            :label="$tc('swag-bundle.detail.discountTypeLabel')"
                            v-model="bundle.discountType"
                            :options="options"
                    ></sw-radio-field>

                    <label>{{ $tc('swag-bundle.detail.assignProductsLabel') }}</label>
                    <select v-model="selectedProductIds" multiple @change="onProductChange">
                        <option v-for="product in products" :key="product.id" :value="product.id">
                            {{ product.name }}
                        </option>
                    </select>



                </sw-card>
            </sw-card-view>

        </template>
    </sw-page>
{% endblock %}